#test
pytest

# Data Analysis
pandas
numpy
matplotlib
seaborn
scipy

# Machine Learning
scikit-learn
nltk
textblob

# Financial Data
yfinance
pynance


# Natural Language Processing
spacy
gensim

# Visualization
plotly
dash

# Time Series
prophet

# Miscellaneous
jupyter


statsmodels
